/* Mobile Views */
.col-xs-1 {
  -ms-flex-preferred-size: 4.16667%;
      flex-basis: 4.16667%;
}

.col-xs-2 {
  -ms-flex-preferred-size: 8.33333%;
      flex-basis: 8.33333%;
}

.col-xs-3 {
  -ms-flex-preferred-size: 12.5%;
      flex-basis: 12.5%;
}

.col-xs-4 {
  -ms-flex-preferred-size: 16.66667%;
      flex-basis: 16.66667%;
}

.col-xs-5 {
  -ms-flex-preferred-size: 20.83333%;
      flex-basis: 20.83333%;
}

.col-xs-6 {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
}

.col-xs-7 {
  -ms-flex-preferred-size: 29.16667%;
      flex-basis: 29.16667%;
}

.col-xs-8 {
  -ms-flex-preferred-size: 33.33333%;
      flex-basis: 33.33333%;
}

.col-xs-9 {
  -ms-flex-preferred-size: 37.5%;
      flex-basis: 37.5%;
}

.col-xs-10 {
  -ms-flex-preferred-size: 41.66667%;
      flex-basis: 41.66667%;
}

.col-xs-11 {
  -ms-flex-preferred-size: 45.83333%;
      flex-basis: 45.83333%;
}

.col-xs-12 {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.col-xs-13 {
  -ms-flex-preferred-size: 54.16667%;
      flex-basis: 54.16667%;
}

.col-xs-14 {
  -ms-flex-preferred-size: 58.33333%;
      flex-basis: 58.33333%;
}

.col-xs-15 {
  -ms-flex-preferred-size: 62.5%;
      flex-basis: 62.5%;
}

.col-xs-16 {
  -ms-flex-preferred-size: 66.66667%;
      flex-basis: 66.66667%;
}

.col-xs-17 {
  -ms-flex-preferred-size: 70.83333%;
      flex-basis: 70.83333%;
}

.col-xs-18 {
  -ms-flex-preferred-size: 75%;
      flex-basis: 75%;
}

.col-xs-19 {
  -ms-flex-preferred-size: 79.16667%;
      flex-basis: 79.16667%;
}

.col-xs-20 {
  -ms-flex-preferred-size: 83.33333%;
      flex-basis: 83.33333%;
}

.col-xs-21 {
  -ms-flex-preferred-size: 87.5%;
      flex-basis: 87.5%;
}

.col-xs-22 {
  -ms-flex-preferred-size: 91.66667%;
      flex-basis: 91.66667%;
}

.col-xs-23 {
  -ms-flex-preferred-size: 95.83333%;
      flex-basis: 95.83333%;
}

.col-xs-24 {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

@media (min-width: 768px) {
  .col-sm-1 {
    -ms-flex-preferred-size: 4.16667%;
        flex-basis: 4.16667%;
  }
  .col-sm-2 {
    -ms-flex-preferred-size: 8.33333%;
        flex-basis: 8.33333%;
  }
  .col-sm-3 {
    -ms-flex-preferred-size: 12.5%;
        flex-basis: 12.5%;
  }
  .col-sm-4 {
    -ms-flex-preferred-size: 16.66667%;
        flex-basis: 16.66667%;
  }
  .col-sm-5 {
    -ms-flex-preferred-size: 20.83333%;
        flex-basis: 20.83333%;
  }
  .col-sm-6 {
    -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
  }
  .col-sm-7 {
    -ms-flex-preferred-size: 29.16667%;
        flex-basis: 29.16667%;
  }
  .col-sm-8 {
    -ms-flex-preferred-size: 33.33333%;
        flex-basis: 33.33333%;
  }
  .col-sm-9 {
    -ms-flex-preferred-size: 37.5%;
        flex-basis: 37.5%;
  }
  .col-sm-10 {
    -ms-flex-preferred-size: 41.66667%;
        flex-basis: 41.66667%;
  }
  .col-sm-11 {
    -ms-flex-preferred-size: 45.83333%;
        flex-basis: 45.83333%;
  }
  .col-sm-12 {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
  .col-sm-13 {
    -ms-flex-preferred-size: 54.16667%;
        flex-basis: 54.16667%;
  }
  .col-sm-14 {
    -ms-flex-preferred-size: 58.33333%;
        flex-basis: 58.33333%;
  }
  .col-sm-15 {
    -ms-flex-preferred-size: 62.5%;
        flex-basis: 62.5%;
  }
  .col-sm-16 {
    -ms-flex-preferred-size: 66.66667%;
        flex-basis: 66.66667%;
  }
  .col-sm-17 {
    -ms-flex-preferred-size: 70.83333%;
        flex-basis: 70.83333%;
  }
  .col-sm-18 {
    -ms-flex-preferred-size: 75%;
        flex-basis: 75%;
  }
  .col-sm-19 {
    -ms-flex-preferred-size: 79.16667%;
        flex-basis: 79.16667%;
  }
  .col-sm-20 {
    -ms-flex-preferred-size: 83.33333%;
        flex-basis: 83.33333%;
  }
  .col-sm-21 {
    -ms-flex-preferred-size: 87.5%;
        flex-basis: 87.5%;
  }
  .col-sm-22 {
    -ms-flex-preferred-size: 91.66667%;
        flex-basis: 91.66667%;
  }
  .col-sm-23 {
    -ms-flex-preferred-size: 95.83333%;
        flex-basis: 95.83333%;
  }
  .col-sm-24 {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

@media (min-width: 1024px) {
  .col-md-1 {
    -ms-flex-preferred-size: 4.16667%;
        flex-basis: 4.16667%;
  }
  .col-md-2 {
    -ms-flex-preferred-size: 8.33333%;
        flex-basis: 8.33333%;
  }
  .col-md-3 {
    -ms-flex-preferred-size: 12.5%;
        flex-basis: 12.5%;
  }
  .col-md-4 {
    -ms-flex-preferred-size: 16.66667%;
        flex-basis: 16.66667%;
  }
  .col-md-5 {
    -ms-flex-preferred-size: 20.83333%;
        flex-basis: 20.83333%;
  }
  .col-md-6 {
    -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
  }
  .col-md-7 {
    -ms-flex-preferred-size: 29.16667%;
        flex-basis: 29.16667%;
  }
  .col-md-8 {
    -ms-flex-preferred-size: 33.33333%;
        flex-basis: 33.33333%;
  }
  .col-md-9 {
    -ms-flex-preferred-size: 37.5%;
        flex-basis: 37.5%;
  }
  .col-md-10 {
    -ms-flex-preferred-size: 41.66667%;
        flex-basis: 41.66667%;
  }
  .col-md-11 {
    -ms-flex-preferred-size: 45.83333%;
        flex-basis: 45.83333%;
  }
  .col-md-12 {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
  .col-md-13 {
    -ms-flex-preferred-size: 54.16667%;
        flex-basis: 54.16667%;
  }
  .col-md-14 {
    -ms-flex-preferred-size: 58.33333%;
        flex-basis: 58.33333%;
  }
  .col-md-15 {
    -ms-flex-preferred-size: 62.5%;
        flex-basis: 62.5%;
  }
  .col-md-16 {
    -ms-flex-preferred-size: 66.66667%;
        flex-basis: 66.66667%;
  }
  .col-md-17 {
    -ms-flex-preferred-size: 70.83333%;
        flex-basis: 70.83333%;
  }
  .col-md-18 {
    -ms-flex-preferred-size: 75%;
        flex-basis: 75%;
  }
  .col-md-19 {
    -ms-flex-preferred-size: 79.16667%;
        flex-basis: 79.16667%;
  }
  .col-md-20 {
    -ms-flex-preferred-size: 83.33333%;
        flex-basis: 83.33333%;
  }
  .col-md-21 {
    -ms-flex-preferred-size: 87.5%;
        flex-basis: 87.5%;
  }
  .col-md-22 {
    -ms-flex-preferred-size: 91.66667%;
        flex-basis: 91.66667%;
  }
  .col-md-23 {
    -ms-flex-preferred-size: 95.83333%;
        flex-basis: 95.83333%;
  }
  .col-md-24 {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

@media (min-width: 1216px) {
  .col-lg-1 {
    -ms-flex-preferred-size: 4.16667%;
        flex-basis: 4.16667%;
  }
  .col-lg-2 {
    -ms-flex-preferred-size: 8.33333%;
        flex-basis: 8.33333%;
  }
  .col-lg-3 {
    -ms-flex-preferred-size: 12.5%;
        flex-basis: 12.5%;
  }
  .col-lg-4 {
    -ms-flex-preferred-size: 16.66667%;
        flex-basis: 16.66667%;
  }
  .col-lg-5 {
    -ms-flex-preferred-size: 20.83333%;
        flex-basis: 20.83333%;
  }
  .col-lg-6 {
    -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
  }
  .col-lg-7 {
    -ms-flex-preferred-size: 29.16667%;
        flex-basis: 29.16667%;
  }
  .col-lg-8 {
    -ms-flex-preferred-size: 33.33333%;
        flex-basis: 33.33333%;
  }
  .col-lg-9 {
    -ms-flex-preferred-size: 37.5%;
        flex-basis: 37.5%;
  }
  .col-lg-10 {
    -ms-flex-preferred-size: 41.66667%;
        flex-basis: 41.66667%;
  }
  .col-lg-11 {
    -ms-flex-preferred-size: 45.83333%;
        flex-basis: 45.83333%;
  }
  .col-lg-12 {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
  .col-lg-13 {
    -ms-flex-preferred-size: 54.16667%;
        flex-basis: 54.16667%;
  }
  .col-lg-14 {
    -ms-flex-preferred-size: 58.33333%;
        flex-basis: 58.33333%;
  }
  .col-lg-15 {
    -ms-flex-preferred-size: 62.5%;
        flex-basis: 62.5%;
  }
  .col-lg-16 {
    -ms-flex-preferred-size: 66.66667%;
        flex-basis: 66.66667%;
  }
  .col-lg-17 {
    -ms-flex-preferred-size: 70.83333%;
        flex-basis: 70.83333%;
  }
  .col-lg-18 {
    -ms-flex-preferred-size: 75%;
        flex-basis: 75%;
  }
  .col-lg-19 {
    -ms-flex-preferred-size: 79.16667%;
        flex-basis: 79.16667%;
  }
  .col-lg-20 {
    -ms-flex-preferred-size: 83.33333%;
        flex-basis: 83.33333%;
  }
  .col-lg-21 {
    -ms-flex-preferred-size: 87.5%;
        flex-basis: 87.5%;
  }
  .col-lg-22 {
    -ms-flex-preferred-size: 91.66667%;
        flex-basis: 91.66667%;
  }
  .col-lg-23 {
    -ms-flex-preferred-size: 95.83333%;
        flex-basis: 95.83333%;
  }
  .col-lg-24 {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}
/*# sourceMappingURL=style.css.map */